body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color:#2D6A4F
}  

.navbar {  
    display: flex;  
    align-items: center;  
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);  
    padding:  20px 40px;
    top: 0;
    left: 0;
    z-index: 1000; 
    
}  

.logo {  
    height: 50px;  
    width: 120px; 
    height: auto;
    position: absolute;
    top: 20px; 
    left: 30px; 
}

.nav-links {  
    list-style: none;  
    display: flex;  
    margin-left: auto;  
}  

.nav-links li {  
    position: relative;  
}  

.nav-links a {  
    color: white;  
    padding: 15px;  
    text-decoration: none;  
}  

.nav-links a:hover {  
    color: #000000;  
}  

.dropdown-menu {  
    display: none;  
    position: absolute;  
    background-color: white;  
    list-style: none;  
    padding: 0;  
    margin: 0;  
    border: 1px solid #ccc;  
}  


.dropdown:hover .dropdown-menu {  
    display: block;  
    background-color: #dff466;
    width: 100px;
    height: auto;
    
    
}  

.container {  
    width: 80%;  
    margin: auto;  
    
}  

header {  
    text-align: center;  
    margin: 20px 0;  
    
}  

.image-form {  
    display: flex;  
    justify-content: space-between;  
    margin: 20px 0; 
    overflow: hidden; 
}

.image-form img{
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    padding: auto;
    
}

.image {  
    width: 60%;  
    background-color: #e0e0e0;  
    text-align: center;  
    padding: 20px;  
}  

.form {  
    width: 35%;  
    background-color: #f0f0f0;  
    padding: 10px;  
    text-align: center;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    

}  

.form button {
    width: 90%;
    height: 50px;
    background-color: #55a414;
    font-size: 20px;
}

.info, .testimonials {  
    margin: 20px 0;  
    padding: 20px;  
    border: 1px solid #ccc; 
    background-color: rgba(226, 111, 85, 0.83); 
}  

.recomendations {  
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo similar a la imagen */  
    padding: 20px;  
    margin: 20px -135px;  
    border: 1px solid #ccc;  
    text-align: center;  
}  

.recomendation-item {  
    display: inline-block;  
    width: 30%; /* Ajustable según tus necesidades */  
    vertical-align: top;  
    padding: 20px -2400px;
    margin: 10px;  
    text-align: center; /* Centra el texto y las imágenes */  
    
}  

.recomendation-item img {  
    width: 80%; /* Controla el tamaño de la imagen */  
    height: auto; /* Mantiene la proporción de la imagen */  
    border-radius: 5px; /* O cualquier otro estilo que desees */  
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */  
}  

.recomendation-item p {  
    margin: 0;  
}  

h1{
    font-size: 40px;
}
h3 {  
    margin-top: 0;  
}  
