*{
 margin: 0px;
 padding: 0px;
}

.tituloContent{
    width: 100vw;
    height: 50vh;
    background-image: url("../recursos/62f1700dbaf18.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
}